<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hrstarter.mapper.LeaveRequestMapper">





    <select id="selectByEmployeeId" >
        SELECT *
        FROM leave_requests
        WHERE employee_id = #{employeeId}
    </select>
    <select id="selectAllWithDetails" resultType="com.example.hrstarter.entity.LeaveRequest">
        SELECT lr.*, e.name AS employee_name, lt.name AS leave_type_name
        FROM leave_requests lr
        JOIN employee e ON lr.employee_id = e.id
        JOIN leave_type lt ON lr.leave_type_id = lt.id
        <where>
            <if test="status != null and status != ''">
                AND lr.status = #{status}
            </if>
            <if test="employeeName != null and employeeName != ''">
                AND e.name = #{employeeName}
            </if>
            <if test="leaveType != null and leaveType != ''">
                AND lt.code = #{leaveType}
            </if>
        </where>

    </select>

    <select id="selectByDateRange" resultType="com.example.hrstarter.entity.LeaveRequest">
        SELECT *
        FROM leave_requests
        WHERE start_date &gt;= #{startDate} AND end_date &lt;= #{endDate}
    </select>
    <select id="existsByEmployeeIdAndDate" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM leave_requests
        WHERE employee_id = #{employeeId}
          AND ((start_date BETWEEN #{startDate} AND #{endDate})
               OR (end_date BETWEEN #{startDate} AND #{endDate})
               OR (start_date &lt;= #{startDate} AND end_date &gt;= #{endDate}))
    </select>
    <select id="selectByEmployeeIds" resultType="com.example.hrstarter.entity.LeaveRequest">
        SELECT *
        FROM leave_requests
        WHERE employee_id IN
        <foreach item="id" collection="employeeIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>