<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hrstarter.mapper.RolePermissionMapper">

    <delete id="deleteByRoleId">
        DELETE FROM role_permissions WHERE role_id = #{roleId}
    </delete>

    <insert id="batchInsert">
        INSERT INTO role_permissions (role_id, permission_id)
        VALUES
        <foreach collection="permissionIds" item="pId" separator=",">
            (#{roleId}, #{pId})
        </foreach>
    </insert>

    <select id="findPermissionIdsByRoleId" resultType="long">
        SELECT permission_id FROM role_permissions WHERE role_id = #{roleId}
    </select>

</mapper>