<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hrstarter.mapper.RoleMapper">

    <select id="findById" resultType="com.example.hrstarter.entity.Role">
        SELECT * FROM roles WHERE id = #{id}
    </select>

    <select id="findByRoleKey" resultType="com.example.hrstarter.entity.Role">
        SELECT * FROM roles WHERE role_key = #{roleKey}
    </select>

    <select id="findAll" resultType="com.example.hrstarter.entity.Role">
        SELECT * FROM roles
    </select>
    <select id="findRolesByUserId" resultType="com.example.hrstarter.entity.Role">
        SELECT r.id,
               r.role_key  AS roleKey,
               r.role_name AS roleName
        FROM roles r
        JOIN user_roles ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
    </select>

    <select id="countUsersByRoleId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM user_roles
        WHERE role_id = #{roleId}
    </select>

    <select id="findRoleKeysByUserId" resultType="java.lang.String">
        SELECT DISTINCT r.role_key
        FROM users u
                 JOIN user_roles ur ON u.id = ur.user_id
                 JOIN roles r ON ur.role_id = r.id
        WHERE u.id = #{userId} AND r.status = 'ACTIVE'
        ORDER BY r.role_key


    </select>
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM roles
    </select>

    <insert id="insert" parameterType="com.example.hrstarter.entity.Role">
        INSERT INTO roles(role_key, role_name)
        VALUES(#{roleKey}, #{roleName})
    </insert>

    <update id="update" parameterType="com.example.hrstarter.entity.Role">
        UPDATE roles
        SET role_key = #{roleKey},
            role_name = #{roleName}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM roles WHERE id = #{id}
    </delete>



</mapper>
